<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
  <configuration>
  
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  
  	<typeAliases>
  		<typeAlias type="SWP.domain.Board" alias="Board"/>
  		<typeAlias type="SWP.domain.Paging" alias="Paging"/>
  		<typeAlias type="SWP.domain.User" alias="User"/>
  		<typeAlias type="SWP.domain.Posting" alias="Posting"/>
  	</typeAliases>
  
  	<environments default="development">
  		<environment id="development">
  			<transactionManager type="JDBC"/>
  			<dataSource type="POOLED">
  				<property name="driver" value="com.mysql.jdbc.Driver"/>
  				<property name="url" value="jdbc:mysql://localhost:3306:SingleWebProject"/>
  				<property name="username" value="root"/>
  				<property name="password" value="1234"/>
  			</dataSource>
  		</environment>
  	</environments>
  	
  	<mappers>
  		<mapper resource="mapper/BoardMapper.xml"/>
  		<mapper resource="mapper/PostingMapper.xml"/>
  	</mappers>
  </configuration>
