<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="singleWebProject.dao.mapper.UserMapper">

	<resultMap type="User" id="User">
		<result property="userId" column="UserId"/>
		<result property="userPw" column="UserPassword"/>
		<result property="userName" column="UserName"/>
		<result property="userEmail" column="UserEmail"/>
		<result property="userAddress" column="UserAddress"/>
		<result property="userPhoneNumber" column="UserPhoneNumber"/>
		<result property="userGender" column="UserGender"/>
	</resultMap>
	
	<!-- 로그인 유저 체크 쿼리 -->
	<select id="loginCheck" parameterType="User" resultMap="User">
		SELECT 
		UserId,UserPassword,UserName,UserEmail,UserAddress,UserPhoneNumber,UserGender
		FROM user_tb
		WHERE UserId = #{userId} and UserPassword = #{userPw}
	</select>

	<select id="signUpIdCheck" parameterType="User" resultType="String">
		SELECT
		userId
		FROM user_tb
		WHERE userId = #{userId}
	</select>
</mapper>